---
layout: "wrapper"
---
<body>
  <h3 style="margin: 30px; text-align: center;">
    <em>SITE UNDER CONSTRUCTION! OFFICIAL RELEASE SEPTEMBER 1ST 2018</em>
    <br><br>
    Hey there ya <a href="https://youtu.be/Hmvc4CMWkEw?t=5s">Jabroni!</a>
    <br>
    Welcome to the Official Unofficial <em>It's Always Sunny in Philadelphia</em> Drinking Game website!
    <br><br>
    <a href="https://youtu.be/UeRTKzT6k0A?t=1m29s">What do now?</a>
    <br><br>
    If this is your first time on the site, please be sure to review the <a href="/instructions">Pre-Round Etiquette (Instructions)</a>.
    <br><br>
    If you already know the rules, feel free to <a href="/game">Go For It, Go For It (Play the Game)</a>.
  </h3>
<body>
